/* === Login Page Styling === */
.login-wrapper {
  background: linear-gradient(to right, #dff6ff, #bbe4f3);
}

.login-card {
  background-color: white;
  border-radius: 20px;
  max-width: 400px;
  width: 100%;
}

.login-card h2 {
  font-family: 'Poppins', sans-serif;
}

.login-card input.form-control {
  border-radius: 50px;
  padding-left: 1rem;
}
